body{
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: rgb(26, 26, 26);
}

nav h2{
    color: #143774;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
}

nav p{
    color: #1792D2;
    padding: 0;
    margin: 0;
    font-size: 0.70rem;
    text-align: center;
    margin-bottom: 1.2em;
    font-weight: bold;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
}

nav a:hover, nav a:focus{
    color: #1792D2;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    margin-left: 2em;
}

/* Layout */

nav{
    background-color: #f8f8f8;
    padding: 20px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    /* border: 1px pink solid; */
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

.navigation{
    display: flex;
    justify-content: center;
}

.active-page{
    border-bottom: 2px solid #707070;
}

.active-page:hover{
    color: #707070;
}

@media (max-width: 650px){
    nav{
        background-color: #f8f8f8;
        padding: 15px 0 0 0;
    }
    .container-nav{
        display: flex;
        flex-direction: column;
    }
    nav li{
        margin: 0 1em;
    }
    nav h2{
        font-size: 1.2rem;
    }    
    nav p{
        font-size: 0.55rem;
        margin-bottom: 0.3em;
    }
    nav a{
        font-size: 14px;
    }
}

/* ---------Body------- */

/* Typography */

.article-title{
    font-weight: 550;
    font-size: 1.5rem;
    color: #143774;
}

.article-read-more,
.article-info{
    font-size: 0.8rem;
}

.article-read-more{
    color: #1792d2;
    text-decoration: none;
    font-weight: 700;
}

.article-read-more:hover,
.article-read-more:focus{
    color: #143774;
    text-decoration: underline;
}

h3{
    font-weight: 600;
    font-size: 1rem;
    color: #143774;
}

.article-featured .article-title{
    color: #143774;
    font-weight: 700;
    font-size: 1.5rem;
}

.article-info{
    color: #707070;
}

.article-recent-secondary .article-info{
    margin-top: 0;
}

.article-body a{
    color: #1792d2;
    text-decoration: none;
    /* font-weight: 300; */
}

strong{
    font-size: 1.02em;
}

/* Typography ends */

img{
    max-width: 100%;
    /* display: block; */
}

.container-body{
    display: flex;
    justify-content: space-between;
}

main{
    flex-basis: 73%;
}

aside{
    flex-basis: 23%;
}

.article-recent{
    display: flex;
    justify-content: space-between;
}

.article-recent-main{
    flex-basis: 73%;
    order: 2;
}

.article-recent-secondary{
    flex-basis: 23%;
    order: 1;
}

.sidebar-widget{
    border: #f8f8f8 15px solid;
    padding: 15px;
    margin-bottom: 1em;
    margin-top: 1em;
}

.article-recent-main .article-title{
    padding: 0;
    margin: 0;
}

footer{
    background-color: #143774;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    padding: 1em;
    margin: 0em;
    line-height: 0.2em;
}

.article-featured{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 2.5px solid #bebdbd;
}

.article-recent{
    margin-bottom: 1em;
}

.article-featured .article-image{
    width: 100%;
    height: 325px;
    object-fit: cover;
    object-position: top;
}

.article-recent-secondary .article-image{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: top;
}

.widget-image{
    width: 100%;
    height: 135px;
    object-fit: cover;
    object-position: top;
}

.widget-recent-post{
    display: flex;
    flex-direction: column;
}

.widget-image{
    order: -1;
}

.widget-recent-post-title{
    border-bottom: 2.5px solid #bebdbd;
    padding-bottom: 1em;
}

.no-border{
    border-bottom: none;
    padding-bottom: 0em;
}

@media(max-width: 650px){
    .container-body{
        flex-direction: column;
    }
    
    .article-recent{
        flex-direction: column;
    }

    p{
        font-size: 0.85rem;
    }

    .article-title{
        font-size: 1rem;
    }
    
    .article-read-more,
    .article-info{
        font-size: 0.7rem;
    }
    
    .recent-posts{
        font-size: 0.8rem;
    }
    
    .article-featured .article-title{
        font-size: 1.2rem;
    }

    .widget-title{
        font-size: 1.25rem;
    }

    footer p{
        font-size: 0.85rem;
    }

    .article-featured .article-image{
        height: 180px;
    }
    
    .article-recent-secondary .article-image{
        height: 200px;
    }
    
    .widget-image{
        height: 150px;
    }
}